@model IEnumerable<EntityFramworkDemo.Models.Student>

@{ 
    int i = 1;
} 

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">Major</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var student in Model)
    { <tr>
        <th scope="row">@i</th>
        <td>@student.Name</td>
        <td>@student.Age</td>
        <td>@student.Sex</td>
        <td>@student.Major</td>
        @{
          i++;
        }
      </tr>
    }
  </tbody>
</table>