@model IEnumerable<EntityFramworkDemo.Models.Student>

@{ 
    int i = 1;
} 
<a asp-action="Upsert" class="btn btn-primary">Create</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">Major</th>
      <th scope="col">Action</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  @foreach (var student in Model)
    { <tr>
        <th scope="row">@i</th>
        <td>@student.Name</td>
        <td>@student.Age</td>
        <td>@student.Sex</td>
        <td>@student.Major</td>
        @{
          i++;
        }
        @*<td><a asp-action="Update" asp-route-id="@student.Id">Update</a></td>*@
        @if (User.IsInRole("Admin"))
        {
          <td><a href="/students/Upsert/@student.Id">Update</a></td>
          <td><a asp-action="Delete" asp-route-id="@student.Id">Delete</a></td>
        }
      </tr>
    }
  </tbody>
</table>